@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:300,regular,500,600,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow:before {
  content: ""
}
._icon-arrow-link:before {
  content: ""
}
._icon-facebook:before {
  content: ""
}
._icon-linkedin:before {
  content: ""
}
._icon-twitter:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #bdbdbd;
  line-height: 1;
  font-family: "Hind Siliguri";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Hind Siliguri";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
html {
  scroll-behavior: smooth
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,69.375rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  position: relative;
  display: inline-flex;
  padding: 1rem 1.4375rem;
  border: .0625rem solid #ff7235;
  color: #ff7235;
  font-size: 1rem;
  overflow: hidden;
  transition: color .4s,outline-color .3s;
  outline: .125rem solid transparent;
  outline-offset: .3125rem;
  border-radius: .3125rem
}
.button:focus-visible {
  outline-color: #ff7235
}
.button::before {
  content: "";
  position: absolute;
  width: 130%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #ff7235;
  -webkit-transform: translate(-50%,-50%) scale(.1);
  transform: translate(-50%,-50%) scale(.1);
  transition: opacity .4s,-webkit-transform .4s;
  transition: transform .4s,opacity .4s;
  transition: transform .4s,opacity .4s,-webkit-transform .4s;
  opacity: 0
}
.button span {
  position: relative
}
.button--small {
  padding: .9375rem 1.125rem
}
.button--bg-orange {
  color: #fff;
  background-color: #ff7235
}
.button--bg-orange::before {
  background-color: #fff
}
.title {
  color: #292830;
  font-weight: 700
}
.title--center {
  text-align: center
}
.text {
  line-height: 1.65
}
.text p:not(:last-child) {
  margin-bottom: .9375rem
}
.text--small {
  font-size: .875rem
}
.link {
  display: inline-block;
  position: relative;
  background-color: #ff7235;
  text-align: center;
  color: #fff;
  transition: background-color .4s,outline-color .3s;
  border: .0625rem solid #ff7235;
  overflow: hidden;
  padding: 1rem 1.4375rem;
  font-size: 1rem;
  outline: .125rem solid transparent;
  outline-offset: .3125rem;
  border-radius: .3125rem
}
.link:focus-visible {
  outline-color: #ff7235
}
.link::before {
  content: "";
  position: absolute;
  width: 130%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%,-50%) scale(.1);
  transform: translate(-50%,-50%) scale(.1);
  transition: opacity .4s,-webkit-transform .4s;
  transition: transform .4s,opacity .4s;
  transition: transform .4s,opacity .4s,-webkit-transform .4s;
  opacity: 0
}
.link:not(.link--big) span {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  -webkit-column-gap: .875rem;
  -moz-column-gap: .875rem;
  column-gap: .875rem;
  transition: color .4s
}
.link:not(.link--big) span::before {
  font-size: 1rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.--active .link:not(.link--big) span {
  color: #fff
}
.--active .link:not(.link--big) span::before {
  -webkit-transform: translate(.1875rem,0);
  transform: translate(.1875rem,0)
}
.--active .link::before {
  content: "";
  opacity: 1;
  -webkit-transform: scale(1) translate(-50%,-50%);
  transform: scale(1) translate(-50%,-50%)
}
.link--big {
  font-size: 1.5rem;
  padding: 1.5rem 1.4375rem
}
.link--big span {
  position: relative;
  z-index: 1;
  transition: color .4s;
  padding-right: 2.125rem
}
.link--big span::after,
.link--big span::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: .75rem;
  height: .125rem;
  border-radius: .3125rem;
  background-color: #fff;
  transition: top .4s,right .4s,background-color .4s,-webkit-transform .4s;
  transition: transform .4s,top .4s,right .4s,background-color .4s;
  transition: transform .4s,top .4s,right .4s,background-color .4s,-webkit-transform .4s;
  will-change: transform
}
.link--big span::before {
  right: .46875rem;
  -webkit-transform: translate(0,-50%) rotate(45deg);
  transform: translate(0,-50%) rotate(45deg)
}
.link--big span::after {
  -webkit-transform: translate(0,-50%) rotate(-45deg);
  transform: translate(0,-50%) rotate(-45deg)
}
.--active .link--big span {
  color: #ff7235
}
.--active .link--big span::after,
.--active .link--big span::before {
  background-color: #ff7235
}
.--active .link--big span::before {
  top: calc(50% + .20625rem);
  -webkit-transform: translate(0,-50%) rotate(-45deg);
  transform: translate(0,-50%) rotate(-45deg)
}
.--active .link--big span::after {
  top: calc(50% - .25rem);
  right: .46875rem;
  -webkit-transform: translate(0,-50%) rotate(45deg);
  transform: translate(0,-50%) rotate(45deg)
}
.link--inverse {
  background-color: #fff;
  color: #ff7235
}
.link--inverse:focus {
  outline-color: #fff
}
.link--inverse::before {
  background-color: #ff7235
}
.link--big.link--inverse span::after,
.link--big.link--inverse span::before {
  background-color: #ff7235
}
.--active .link--big.link--inverse span {
  color: #fff
}
.--active .link--big.link--inverse span::after,
.--active .link--big.link--inverse span::before {
  background-color: #fff
}
.decors {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none
}
.decors__item {
  position: absolute
}
.decors__item--01 {
  bottom: 0;
  left: 0;
  aspect-ratio: 537/644;
  -webkit-transform: translate(-26.8156424581%,34.0062111801%);
  transform: translate(-26.8156424581%,34.0062111801%)
}
.decors__item--02 {
  aspect-ratio: 661/598;
  right: 0;
  top: 0;
  -webkit-transform: translate(30.7692307692%,-31.9213313162%);
  transform: translate(30.7692307692%,-31.9213313162%)
}
[data-run-line] {
  -webkit-animation: move-run-line 10s infinite linear;
  animation: move-run-line 10s infinite linear;
  -webkit-column-gap: 6.75rem;
  -moz-column-gap: 6.75rem;
  column-gap: 6.75rem;
  display: flex;
  width: -webkit-max-content;
  width: max-content;
  align-items: center;
  flex-wrap: nowrap
}
[data-run-line][data-direction=right] {
  animation: move-run-line 10s alternate-reverse infinite linear
}
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .875rem
}
.social__item {
  flex-shrink: 0;
  line-height: 0
}
.social__link {
  font-size: 1.0625rem;
  line-height: 0;
  color: #292830;
  transition: color .4s,outline-color .3s;
  outline: .125rem solid transparent;
  outline-offset: .1875rem;
  border-radius: .0625rem
}
.social__link:focus-visible {
  outline-color: #ff7235
}
@-webkit-keyframes move-run-line {
  100% {
    -webkit-transform: translate(calc(-50% - 3.375rem),0);
    transform: translate(calc(-50% - 3.375rem),0)
  }
}
@keyframes move-run-line {
  100% {
    -webkit-transform: translate(calc(-50% - 3.375rem),0);
    transform: translate(calc(-50% - 3.375rem),0)
  }
}
@-webkit-keyframes move-run-line-table {
  100% {
    -webkit-transform: translate(calc(-50% - 1.875rem),0);
    transform: translate(calc(-50% - 1.875rem),0)
  }
}
@keyframes move-run-line-table {
  100% {
    -webkit-transform: translate(calc(-50% - 1.875rem),0);
    transform: translate(calc(-50% - 1.875rem),0)
  }
}
@-webkit-keyframes move-run-line-mobile {
  100% {
    -webkit-transform: translate(calc(-50% - 1.09375rem),0);
    transform: translate(calc(-50% - 1.09375rem),0)
  }
}
@keyframes move-run-line-mobile {
  100% {
    -webkit-transform: translate(calc(-50% - 1.09375rem),0);
    transform: translate(calc(-50% - 1.09375rem),0)
  }
}
.form__line {
  border-radius: .5rem;
  border: .0625rem solid #292830;
  padding-block: .4375rem;
  padding-inline: .375rem;
  transition: border-color .4s
}
.form__line:has(.form__input:focus) {
  border-color: #ff7235
}
.form__line:not(:last-child) {
  margin-bottom: .9375rem
}
.form__button {
  padding: .875rem .9375rem;
  font-size: 1rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  outline-offset: .1875rem
}
.form__error {
  color: red;
  font-size: 1.125rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  width: 100%;
  height: 3rem;
  display: block;
  padding: 0 1.0625rem;
  caret-color: inherit;
  color: #000;
  font-size: 1.125rem;
  outline: 0
}
.input::-webkit-input-placeholder {
  color: #292830
}
.input:-ms-input-placeholder {
  color: #292830
}
.input::-ms-input-placeholder {
  color: #292830
}
.input::placeholder {
  color: #292830
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
.menu__link {
  color: #292830;
  font-size: 1.125rem;
  position: relative;
  outline: .125rem solid transparent;
  outline-offset: .25rem;
  border-radius: .125rem;
  transition: color .4s,outline-color .3s
}
.menu__link:focus-visible {
  outline-color: #ff7235
}
.icon-menu {
  display: none
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem
}
.swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  border: .0625rem solid #292830;
  outline: .125rem solid transparent;
  outline-offset: .125rem;
  transition: .3s background-color,.3s left,outline-color .3s
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #292830
}
.swiper-pagination .swiper-pagination-bullet:focus-visible {
  outline-color: #ff7235
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
:root {
  --header-height: clamp(4.375rem, -7.495rem + 24.73vw, 10.125rem)
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.8);
  backdrop-filter: blur(.5rem);
  border-bottom: .0625rem solid #bdbdbd;
  transition: opacity .3s;
  opacity: 0
}
.header._header-scroll::before {
  opacity: 1
}
.header__container {
  display: grid;
  grid-template-columns: 1fr auto minmax(10.25rem,1fr);
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  padding-block: .625rem;
  min-height: var(--header-height);
  transition: min-height .3s
}
._header-scroll .header__container {
  min-height: 4.375rem
}
.header__logo {
  height: 2.5rem;
  position: relative;
  z-index: 1;
  justify-self: start;
  max-width: 7rem;
  transition: outline-color .3s;
  outline: .125rem solid transparent;
  outline-offset: .25rem;
  border-radius: .3125rem
}
.header__logo:focus-visible {
  outline-color: #ff7235
}
.header__logo img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.header__actions {
  flex-shrink: 0;
  justify-self: end
}
.header__icon {
  flex-shrink: 0
}
.top-footer {
  padding-bottom: 2.5rem
}
.top-footer__logo {
  max-width: 7rem;
  height: 2.5rem;
  transition: outline-color .3s;
  outline: .125rem solid transparent;
  outline-offset: .25rem;
  border-radius: .3125rem
}
.top-footer__logo:focus-visible {
  outline-color: #ff7235
}
.top-footer__logo img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%
}
.top-footer__body {
  display: grid;
  width: 100%
}
.info-footer__title {
  color: #292830;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block
}
.info-footer__title::-webkit-details-marker,
.info-footer__title::marker {
  content: ""
}
._spoller-init .info-footer__title {
  position: relative;
  padding-right: 2.125rem
}
._spoller-init .info-footer__title::after,
._spoller-init .info-footer__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: .75rem;
  height: .125rem;
  border-radius: .3125rem;
  background-color: #ff7235;
  transition: top .4s,right .4s,background-color .4s,-webkit-transform .4s;
  transition: transform .4s,top .4s,right .4s,background-color .4s;
  transition: transform .4s,top .4s,right .4s,background-color .4s,-webkit-transform .4s;
  will-change: transform
}
._spoller-init .info-footer__title::before {
  -webkit-transform: translate(0,-50%) rotate(-45deg);
  transform: translate(0,-50%) rotate(-45deg)
}
._spoller-init .info-footer__title::after {
  right: .45625rem;
  -webkit-transform: translate(0,-50%) rotate(45deg);
  transform: translate(0,-50%) rotate(45deg)
}
._spoller-init .info-footer__title._spoller-active::before {
  -webkit-transform: translate(0,-50%) rotate(45deg);
  transform: translate(0,-50%) rotate(45deg)
}
._spoller-init .info-footer__title._spoller-active::after {
  -webkit-transform: translate(0,-50%) rotate(-45deg);
  transform: translate(0,-50%) rotate(-45deg)
}
.info-footer__body {
  padding-top: 1.875rem
}
.info-footer__list-item:not(:last-child) {
  margin-bottom: .625rem
}
.info-footer__list-link {
  position: relative;
  color: #292830;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  outline: .125rem solid transparent;
  outline-offset: .25rem;
  border-radius: .125rem;
  transition: outline-color .3s
}
.info-footer__list-link:focus-visible {
  outline-color: #ff7235
}
.info-footer__list-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: .125rem;
  bottom: -.0625rem;
  left: 0;
  background-color: #292830;
  border-radius: .3125rem;
  transition: width .4s
}
.info-footer__text {
  font-size: 1.25rem
}
.info-footer__text:not(:last-child) {
  margin-bottom: 1rem
}
.info-footer__form:not(:last-child) {
  margin-bottom: .875rem
}
.info-footer__clarification {
  font-size: .875rem
}
.bottom-footer__container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem;
  position: relative;
  padding-top: 1.5rem
}
.bottom-footer__container::before {
  content: "";
  position: absolute;
  width: calc(100% - .9375rem);
  height: .0625rem;
  top: 0;
  left: .9375rem;
  background-color: rgba(189,189,189,.2)
}
.bottom-footer__list-link {
  position: relative;
  outline: .125rem solid transparent;
  outline-offset: .25rem;
  border-radius: .0625rem;
  transition: outline-color .3s
}
.bottom-footer__list-link:focus-visible {
  outline-color: #ff7235
}
.bottom-footer__list-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: .0625rem;
  bottom: -.0625rem;
  left: 0;
  border-radius: .3125rem;
  background-color: #292830;
  transition: width .4s
}
.bottom-footer__copyright {
  text-align: center
}
.bottom-footer__copyright,
.bottom-footer__list-link {
  color: #292830;
  font-size: .875rem
}
.promo {
  padding-block: var(--header-height)
}
.promo__container {
  padding-block: 3.125rem
}
.promo__title {
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0);
  opacity: 0
}
._watcher-view .promo__title,
.promo__title._watcher-view {
  transition: opacity .7s 0s,-webkit-transform .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s,-webkit-transform .7s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.promo__title:not(:last-child) {
  margin-bottom: .2604166667em
}
.promo__text {
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0);
  opacity: 0
}
._watcher-view .promo__text,
.promo__text._watcher-view {
  transition: opacity .7s .2s,-webkit-transform .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s,-webkit-transform .7s .2s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.promo__text:not(:last-child) {
  margin-bottom: 2.8125rem
}
.promo__actions {
  -webkit-transform: translate(-15%,0);
  transform: translate(-15%,0);
  opacity: 0
}
._watcher-view .promo__actions,
.promo__actions._watcher-view {
  transition: opacity .7s .5s,-webkit-transform .7s .5s;
  transition: transform .7s .5s,opacity .7s .5s;
  transition: transform .7s .5s,opacity .7s .5s,-webkit-transform .7s .5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.promo__label {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-column-gap: .4375rem;
  -moz-column-gap: .4375rem;
  column-gap: .4375rem
}
.promo__label::before {
  content: "";
  flex-shrink: 0;
  width: 1rem;
  height: .0625rem;
  background-color: #bdbdbd
}
.promo__img {
  -webkit-transform: translate(30%,0);
  transform: translate(30%,0);
  opacity: 0
}
._watcher-view .promo__img,
.promo__img._watcher-view {
  transition: opacity .9s .3s,-webkit-transform .9s .3s;
  transition: transform .9s .3s,opacity .9s .3s;
  transition: transform .9s .3s,opacity .9s .3s,-webkit-transform .9s .3s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.promo__img img {
  width: 100%
}
.product {
  position: relative;
  padding-top: 5.4375rem;
  overflow: hidden;
  background-color: #ff7235
}
.product__container {
  position: relative;
  z-index: 1
}
.product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  aspect-ratio: 1110/625;
  border-radius: 4% 4% 0 0/7% 7% 0 0;
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0
}
._watcher-view .product__img,
.product__img._watcher-view {
  transition: opacity .8s 0s,-webkit-transform .8s 0s;
  transition: transform .8s 0s,opacity .8s 0s;
  transition: transform .8s 0s,opacity .8s 0s,-webkit-transform .8s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.partners__container {
  position: relative;
  overflow: hidden
}
.partners__container::after,
.partners__container::before {
  content: "";
  position: absolute;
  width: 6.1403508772%;
  height: 100%;
  top: 0;
  z-index: 1
}
.partners__container::before {
  left: 0;
  background-image: linear-gradient(90deg,#fff 0,rgba(29,29,29,0) 100%)
}
.partners__container::after {
  right: 0;
  background: linear-gradient(90deg,rgba(29,29,29,0) 0,#fff 100%)
}
.partners__items {
  opacity: 0;
  transition: opacity .7s;
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}
._watcher-view .partners__items {
  opacity: 1;
  -webkit-animation-play-state: running;
  animation-play-state: running
}
.partners__item {
  max-height: 2.5rem
}
.item-benefit__content>*:not(:last-child) {
  margin-bottom: 1.5rem
}
.item-benefit__subtitle {
  font-size: 1.375rem;
  text-transform: uppercase;
  opacity: 0
}
._watcher-view .item-benefit__subtitle {
  transition: opacity .7s .4s;
  opacity: 1
}
.item-benefit__title {
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0);
  opacity: 0
}
._watcher-view .item-benefit__title,
.item-benefit__title._watcher-view {
  transition: opacity .7s 0s,-webkit-transform .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s,-webkit-transform .7s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit:nth-child(even) .item-benefit__title {
  -webkit-transform: translate(30%,0);
  transform: translate(30%,0);
  opacity: 0
}
._watcher-view .item-benefit:nth-child(even) .item-benefit__title,
.item-benefit:nth-child(even) .item-benefit__title._watcher-view {
  transition: opacity .7s 0s,-webkit-transform .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s,-webkit-transform .7s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit:nth-child(even) ._watcher-view .item-benefit__title {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit__text {
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0);
  opacity: 0
}
._watcher-view .item-benefit__text,
.item-benefit__text._watcher-view {
  transition: opacity .7s .2s,-webkit-transform .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s,-webkit-transform .7s .2s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit:nth-child(even) .item-benefit__text {
  -webkit-transform: translate(30%,0);
  transform: translate(30%,0);
  opacity: 0
}
._watcher-view .item-benefit:nth-child(even) .item-benefit__text,
.item-benefit:nth-child(even) .item-benefit__text._watcher-view {
  transition: opacity .7s .2s,-webkit-transform .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s,-webkit-transform .7s .2s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit:nth-child(even) ._watcher-view .item-benefit__text {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit__link {
  color: #ff7235;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  -webkit-column-gap: .75rem;
  -moz-column-gap: .75rem;
  column-gap: .75rem;
  -webkit-transform: translate(-6.25rem,0);
  transform: translate(-6.25rem,0);
  opacity: 0;
  outline: .125rem solid transparent;
  outline-offset: .25rem;
  border-radius: .125rem
}
.item-benefit:nth-child(even) .item-benefit__link {
  -webkit-transform: translate(6.25rem,0);
  transform: translate(6.25rem,0)
}
._watcher-view .item-benefit__link,
.item-benefit:nth-child(even) ._watcher-view .item-benefit__link {
  transition: color .4s,opacity .7s .4s,outline-color .3s,-webkit-transform .7s .4s;
  transition: color .4s,transform .7s .4s,opacity .7s .4s,outline-color .3s;
  transition: color .4s,transform .7s .4s,opacity .7s .4s,outline-color .3s,-webkit-transform .7s .4s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit__link:focus-visible {
  outline-color: #ff7235
}
.item-benefit__link::before {
  font-size: .875rem;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s,-webkit-transform .4s
}
.item-benefit__img {
  -webkit-transform: translate(30%,0);
  transform: translate(30%,0);
  opacity: 0
}
.item-benefit__img img {
  width: 100%
}
._watcher-view .item-benefit__img,
.item-benefit__img._watcher-view {
  transition: opacity .9s .3s,-webkit-transform .9s .3s;
  transition: transform .9s .3s,opacity .9s .3s;
  transition: transform .9s .3s,opacity .9s .3s,-webkit-transform .9s .3s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit:nth-child(even) .item-benefit__img {
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0);
  opacity: 0
}
._watcher-view .item-benefit:nth-child(even) .item-benefit__img,
.item-benefit:nth-child(even) .item-benefit__img._watcher-view {
  transition: opacity .9s .3s,-webkit-transform .9s .3s;
  transition: transform .9s .3s,opacity .9s .3s;
  transition: transform .9s .3s,opacity .9s .3s,-webkit-transform .9s .3s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-benefit:nth-child(even) ._watcher-view .item-benefit__img {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.block-header__title {
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0);
  opacity: 0
}
._watcher-view .block-header__title,
.block-header__title._watcher-view {
  transition: opacity .7s 0s,-webkit-transform .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s,-webkit-transform .7s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.block-header__text {
  -webkit-transform: translate(30%,0);
  transform: translate(30%,0);
  opacity: 0
}
._watcher-view .block-header__text,
.block-header__text._watcher-view {
  transition: opacity .7s .2s,-webkit-transform .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s;
  transition: transform .7s .2s,opacity .7s .2s,-webkit-transform .7s .2s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-service__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .75rem;
  text-align: center;
  height: 100%;
  transition: box-shadow .4s,outline-color .3s;
  box-shadow: 0 0 3.125rem 0 transparent;
  outline: .125rem solid transparent;
  outline-offset: 0;
  border-radius: .75rem
}
.item-service__link:focus-visible {
  outline-color: #ff7235
}
.item-service__link::after {
  content: "";
  font-family: icons;
  font-size: 1rem;
  color: #292830;
  transition: opacity .4s,-webkit-transform .4s;
  transition: opacity .4s,transform .4s;
  transition: opacity .4s,transform .4s,-webkit-transform .4s;
  opacity: 0;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  will-change: transform;
  margin-top: .75rem
}
.item-service__link:focus-visible::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.--active .item-service__link {
  box-shadow: 0 0 3.125rem 0 rgba(0,0,0,.04)
}
.--active .item-service__link::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.item-service__icon {
  width: 4rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3125rem;
  border-radius: 50%
}
.item-service__icon--bg-yellow {
  background-color: rgba(255,189,116,.05)
}
.item-service__icon--bg-pink {
  background-color: rgba(226,89,139,.05)
}
.item-service__icon--bg-purple {
  background-color: rgba(77,18,238,.05)
}
.item-service__icon img {
  width: 1.5rem;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain
}
.item-service__icon:not(:last-child) {
  margin-bottom: .75rem
}
.item-service__title {
  color: #292830;
  font-size: 1.875rem;
  font-weight: 500
}
.item-service__title:not(:last-child) {
  margin-bottom: .75rem
}
.item-service__text {
  flex-grow: 1
}
.plan__title {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 0
}
._watcher-view .plan__title,
.plan__title._watcher-view {
  transition: opacity 1s 0s,-webkit-transform 1s 0s;
  transition: transform 1s 0s,opacity 1s 0s;
  transition: transform 1s 0s,opacity 1s 0s,-webkit-transform 1s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.plan__item {
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0
}
.item-plan {
  padding: 2.5rem 2.5rem 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  border-radius: .75rem;
  border: .0625rem solid #f5f5f5;
  box-shadow: 0 0 3.125rem 0 transparent;
  transition: border-color .4s,box-shadow .4s
}
.item-plan.--active {
  border-color: transparent;
  box-shadow: 0 0 3.125rem 0 rgba(0,0,0,.04)
}
.item-plan__img {
  width: 1.25rem;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain
}
.item-plan__title {
  color: #292830;
  font-size: 2rem;
  font-weight: 600
}
.item-plan__list {
  flex-grow: 1
}
.item-plan__item-list {
  display: flex;
  -webkit-column-gap: .6875rem;
  -moz-column-gap: .6875rem;
  column-gap: .6875rem;
  color: #292830;
  font-size: 1.125rem
}
.item-plan__item-list:not(:last-child) {
  margin-bottom: 1.25rem
}
.item-plan__item-list::before {
  content: "";
  margin-top: .1875rem;
  width: 1.0625rem;
  height: .8125rem;
  flex-shrink: 0;
  background: url(../img/icons/mark-list.svg) 0 0/100% no-repeat
}
.item-plan__price-info:not(:last-child) {
  margin-bottom: 1rem
}
.item-plan__price {
  font-size: 1.25rem;
  font-weight: 300
}
.item-plan__price:not(:last-child) {
  margin-bottom: .4375rem
}
.item-plan__price span {
  font-weight: 600;
  font-size: 1.5rem;
  color: #292830
}
.item-plan__description {
  font-size: .75rem
}
.item-plan__link:focus-visible {
  outline-color: #ff7235
}
.wishers__title {
  max-width: 58.125rem;
  margin-inline: auto;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 0
}
._watcher-view .wishers__title,
.wishers__title._watcher-view {
  transition: opacity 1s 0s,-webkit-transform 1s 0s;
  transition: transform 1s 0s,opacity 1s 0s;
  transition: transform 1s 0s,opacity 1s 0s,-webkit-transform 1s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.wishers__slider {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 0
}
._watcher-view .wishers__slider,
.wishers__slider._watcher-view {
  transition: opacity .8s .3s,-webkit-transform .8s .3s;
  transition: transform .8s .3s,opacity .8s .3s;
  transition: transform .8s .3s,opacity .8s .3s,-webkit-transform .8s .3s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.wishers__slide:nth-child(5n+1) .item-wisher::before {
  background-color: #ff7235
}
.wishers__slide:nth-child(5n+2) .item-wisher::before {
  background-color: #ffbe21
}
.wishers__slide:nth-child(5n+3) .item-wisher::before {
  background-color: #4756df
}
.wishers__slide:nth-child(5n+4) .item-wisher::before {
  background-color: #3ec1f3
}
.wishers__slide:nth-child(5n+5) .item-wisher::before {
  background-color: #bb7259
}
.item-wisher {
  position: relative;
  border-radius: .75rem;
  border: .0625rem solid #f5f5f5;
  overflow: hidden;
  padding: 1.625rem 1.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem
}
.item-wisher::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .625rem;
  top: 0;
  left: 0
}
.item-wisher__text {
  color: #000;
  font-size: 1.125rem;
  flex-grow: 1;
  line-height: 1.4
}
.item-wisher__text p:not(:last-child) {
  margin-bottom: .625rem
}
.user-wisher {
  display: flex;
  align-items: center;
  -webkit-column-gap: .75rem;
  -moz-column-gap: .75rem;
  column-gap: .75rem
}
.user-wisher__photo {
  flex-shrink: 0;
  width: 1.875rem;
  aspect-ratio: 1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover
}
.user-wisher__content {
  font-size: 1rem
}
.user-wisher__name {
  text-transform: capitalize;
  color: #000;
  font-weight: 700;
  display: inline
}
.user-wisher__position {
  text-transform: uppercase;
  display: inline
}
.download {
  position: relative;
  overflow: hidden;
  background-color: #ff7235
}
.download__container {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1
}
.download__title {
  color: #fff;
  -webkit-transform: translate(0,3.75rem);
  transform: translate(0,3.75rem);
  opacity: 0
}
._watcher-view .download__title,
.download__title._watcher-view {
  transition: opacity .7s 0s,-webkit-transform .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s;
  transition: transform .7s 0s,opacity .7s 0s,-webkit-transform .7s 0s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.download__title:not(:last-child) {
  margin-bottom: 1.5rem
}
.download__text {
  -webkit-transform: translate(0,2.5rem);
  transform: translate(0,2.5rem);
  opacity: 0
}
._watcher-view .download__text,
.download__text._watcher-view {
  transition: opacity .5s .2s,-webkit-transform .5s .2s;
  transition: transform .5s .2s,opacity .5s .2s;
  transition: transform .5s .2s,opacity .5s .2s,-webkit-transform .5s .2s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.download__text:not(:last-child) {
  margin-bottom: 3.75rem
}
.download__link {
  margin-inline: auto;
  border-color: #fff;
  padding: 1.125rem 1.5rem;
  font-size: 1.375rem;
  -webkit-transform: translate(0,1.25rem);
  transform: translate(0,1.25rem);
  opacity: 0
}
._watcher-view .download__link {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: outline-color .3s,opacity .5s .4s,-webkit-transform .5s .4s;
  transition: outline-color .3s,transform .5s .4s,opacity .5s .4s;
  transition: outline-color .3s,transform .5s .4s,opacity .5s .4s,-webkit-transform .5s .4s
}
.download__images {
  position: relative;
  z-index: -1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  margin-top: -7rem;
  margin-top: -9.8245614035%;
  margin-inline: -6.5rem -5rem
}
.download__img {
  flex-basis: 35.1622874807%
}
.download__img:nth-child(2) {
  margin-top: -1.25rem;
  flex-basis: 34.3894899536%
}
.download__img img {
  width: 100%
}
.download__img:nth-child(1) {
  -webkit-transform: translate(-20%,0);
  transform: translate(-20%,0);
  opacity: 0
}
._watcher-view .download__img:nth-child(1),
.download__img:nth-child(1)._watcher-view {
  transition: opacity .8s .6s,-webkit-transform .8s .6s;
  transition: transform .8s .6s,opacity .8s .6s;
  transition: transform .8s .6s,opacity .8s .6s,-webkit-transform .8s .6s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.download__img:nth-child(2) {
  -webkit-transform: translate(20%,0);
  transform: translate(20%,0);
  opacity: 0
}
._watcher-view .download__img:nth-child(2),
.download__img:nth-child(2)._watcher-view {
  transition: opacity .8s .6s,-webkit-transform .8s .6s;
  transition: transform .8s .6s,opacity .8s .6s;
  transition: transform .8s .6s,opacity .8s .6s,-webkit-transform .8s .6s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.download__decors .decors__item--01 {
  -webkit-transform: translate(-26.8156424581%,34.0062111801%) rotate(-90deg);
  transform: translate(-26.8156424581%,34.0062111801%) rotate(-90deg)
}
.download__decors .decors__item--02 {
  -webkit-transform: translate(30.7692307692%,-25.7186081694%);
  transform: translate(30.7692307692%,-25.7186081694%)
}
@media (min-width:23.75em) {
  .form__line {
    display: flex
  }
}
@media (min-width:29.99875em) {
  .button--small {
    font-size: 1.125rem
  }
  .promo__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem
  }
}
@media (min-width:37.5625em) {
  .promo__container {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .promo__content {
    flex: 1 1 .625rem;
    align-self: center
  }
  .promo__img {
    flex: 1 1 .625rem
  }
  .benefits__item:nth-child(even) {
    background-color: #fefefd
  }
  .benefits__item:nth-child(even) .item-benefit__container {
    flex-direction: row-reverse
  }
  .item-benefit__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .item-benefit__content {
    flex: 1 1 .625rem
  }
  .item-benefit__img {
    flex: 1 1 .625rem
  }
}
@media (min-width:40.375em) {
  .bottom-footer__list {
    display: flex;
    flex-wrap: wrap;
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    row-gap: .625rem
  }
  .bottom-footer__social {
    justify-self: end;
    justify-content: flex-end
  }
}
@media (min-width:41.25em) {
  .services__items {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    flex-wrap: wrap
  }
  .services__item {
    flex: 1 1 18.75rem
  }
  .block-header {
    display: flex;
    justify-content: space-between;
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .block-header__title {
    flex-basis: 45.625rem
  }
  .block-header__text {
    align-self: center;
    flex-basis: 21.875rem;
    min-width: 18.125rem
  }
  .plan__items {
    display: flex;
    gap: 1.875rem;
    flex-wrap: wrap;
    justify-content: center
  }
  .plan__item {
    flex: 1 1 18.75rem
  }
}
@media (any-hover:none)and (min-width:41.25em) {
  .item-service__link {
    box-shadow: 0 0 3.125rem 0 rgba(0,0,0,.04)
  }
  .item-service__link::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@media (min-width:47.99875em) {
  .menu__list {
    display: flex;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    flex-wrap: wrap;
    row-gap: .3125rem;
    justify-content: center
  }
  .promo {
    display: flex;
    align-items: center;
    min-height: 100svh
  }
}
@media (min-width:53.1875em) {
  .top-footer__container {
    display: flex;
    align-items: flex-start
  }
  .top-footer__body {
    grid-template-columns: minmax(auto,9.625rem) 9.625rem minmax(21.8125rem,1fr);
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    align-items: start
  }
  .top-footer__info:nth-child(3) {
    max-width: 21.8125rem;
    justify-self: flex-end
  }
  .info-footer__title:not(:last-child,.info-footer__title--mb-0) {
    margin-bottom: 2.0625rem
  }
}
@media (min-width:53.1875em)and (min-width:71.25em) {
  .top-footer__container {
    -webkit-column-gap: 10.75rem;
    -moz-column-gap: 10.75rem;
    column-gap: 10.75rem
  }
}
@media (min-width:61.99875em) {
  .services__item:nth-child(1) {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%);
    opacity: 0
  }
  ._watcher-view .services__item:nth-child(1),
  .services__item:nth-child(1)._watcher-view {
    transition: opacity .6s 0s,-webkit-transform .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s;
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .services__item:nth-child(2) {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%);
    opacity: 0
  }
  ._watcher-view .services__item:nth-child(2),
  .services__item:nth-child(2)._watcher-view {
    transition: opacity .6s .2s,-webkit-transform .6s .2s;
    transition: transform .6s .2s,opacity .6s .2s;
    transition: transform .6s .2s,opacity .6s .2s,-webkit-transform .6s .2s;
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .services__item:nth-child(3) {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%);
    opacity: 0
  }
  ._watcher-view .services__item:nth-child(3),
  .services__item:nth-child(3)._watcher-view {
    transition: opacity .6s .4s,-webkit-transform .6s .4s;
    transition: transform .6s .4s,opacity .6s .4s;
    transition: transform .6s .4s,opacity .6s .4s,-webkit-transform .6s .4s;
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .plan__item:nth-child(1)._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: border-color .4s,box-shadow .4s,opacity .6s 0s,-webkit-transform .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s
  }
  .plan__item:nth-child(2)._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: border-color .4s,box-shadow .4s,opacity .6s .2s,-webkit-transform .6s .2s;
    transition: border-color .4s,box-shadow .4s,transform .6s .2s,opacity .6s .2s;
    transition: border-color .4s,box-shadow .4s,transform .6s .2s,opacity .6s .2s,-webkit-transform .6s .2s
  }
  .plan__item:nth-child(3)._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: border-color .4s,box-shadow .4s,opacity .6s .4s,-webkit-transform .6s .4s;
    transition: border-color .4s,box-shadow .4s,transform .6s .4s,opacity .6s .4s;
    transition: border-color .4s,box-shadow .4s,transform .6s .4s,opacity .6s .4s,-webkit-transform .6s .4s
  }
}
@media (min-width:71.25em) {
  .title {
    font-size: 6rem
  }
  .title--less {
    font-size: 4.5rem
  }
  .title--mb:not(:last-child) {
    margin-bottom: 5rem
  }
  .decors__item--01 {
    width: 33.5625rem
  }
  .decors__item--02 {
    width: 41.3125rem
  }
  .top-footer {
    padding-top: 5rem
  }
  .bottom-footer__container {
    padding-bottom: 5.625rem
  }
  .partners__container {
    padding-top: 5.125rem
  }
  .partners__container {
    padding-bottom: 4.125rem
  }
  .item-benefit__container {
    padding-block: 8.875rem
  }
  .services {
    padding-block: 8.6875rem
  }
  .services__block-header:not(:last-child) {
    margin-bottom: 5rem
  }
  .plan {
    padding-block: 7.75rem
  }
  .wishers {
    padding-block: 7.75rem
  }
  .download {
    padding-top: 7.75rem
  }
  .download {
    padding-bottom: 5.75rem
  }
}
@media (min-width:75em) {
  .item-service__link {
    padding: 4.0625rem
  }
}
@media (max-width:30em) {
  .decors__item--01 {
    width: 7.5rem
  }
  .decors__item--02 {
    width: 7.5rem
  }
  .top-footer {
    padding-top: 1.5rem
  }
  .bottom-footer__container {
    padding-bottom: 1.5rem
  }
  .partners__container {
    padding-top: 1.875rem
  }
  .partners__container {
    padding-bottom: 1.25rem
  }
  .item-benefit__container {
    padding-block: 1.5625rem
  }
  .services {
    padding-block: 1.875rem
  }
  .plan {
    padding-block: 1.875rem
  }
  .wishers {
    padding-block: 1.875rem
  }
  .download {
    padding-top: 2.1875rem
  }
  .download {
    padding-bottom: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .link--big {
    padding-block: 1.125rem;
    font-size: 1.25rem
  }
  [data-run-line] {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem;
    -webkit-animation: move-run-line-table 10s infinite linear;
    animation: move-run-line-table 10s infinite linear
  }
  [data-run-line][data-direction=right] {
    animation: move-run-line-table 10s alternate-reverse infinite linear
  }
  .promo__container {
    padding-block: 1.875rem
  }
  .promo__text:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .product {
    padding-top: 4.0625rem
  }
  .services__item:nth-child(1) {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%);
    opacity: 0
  }
  ._watcher-view .services__item:nth-child(1),
  .services__item:nth-child(1)._watcher-view {
    transition: opacity .6s 0s,-webkit-transform .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s;
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .services__item:nth-child(2) {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%);
    opacity: 0
  }
  ._watcher-view .services__item:nth-child(2),
  .services__item:nth-child(2)._watcher-view {
    transition: opacity .6s 0s,-webkit-transform .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s;
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .services__item:nth-child(3) {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%);
    opacity: 0
  }
  ._watcher-view .services__item:nth-child(3),
  .services__item:nth-child(3)._watcher-view {
    transition: opacity .6s 0s,-webkit-transform .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s;
    transition: transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s;
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .item-service__link {
    padding: 1.25rem
  }
  .plan__item:nth-child(1)._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: border-color .4s,box-shadow .4s,opacity .6s 0s,-webkit-transform .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s
  }
  .plan__item:nth-child(2)._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: border-color .4s,box-shadow .4s,opacity .6s 0s,-webkit-transform .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s
  }
  .plan__item:nth-child(3)._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: border-color .4s,box-shadow .4s,opacity .6s 0s,-webkit-transform .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s;
    transition: border-color .4s,box-shadow .4s,transform .6s 0s,opacity .6s 0s,-webkit-transform .6s 0s
  }
  .item-plan {
    padding: 2.5rem
  }
  .download__text:not(:last-child) {
    margin-bottom: 1.875rem
  }
}
@media (max-width:61.9375em) {
  .item-service__link {
    padding: 1.875rem
  }
}
@media (max-width:53.125em) {
  .top-footer__body {
    max-width: 28.125rem;
    margin-inline: auto;
    row-gap: 1.875rem
  }
  .info-footer__body,
  .info-footer__list {
    padding-top: 1.25rem
  }
}
@media (max-width:47.99875em) {
  .text {
    font-size: 1.25rem
  }
  .text--small {
    font-size: .875rem
  }
  [data-run-line] {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem;
    -webkit-animation: move-run-line-mobile 10s infinite linear;
    animation: move-run-line-mobile 10s infinite linear
  }
  [data-run-line][data-direction=right] {
    animation: move-run-line-mobile 10s alternate-reverse infinite linear
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: calc(var(--header-height) + 2.5rem) .9375rem .9375rem 1.875rem;
    transition: right .3s,opacity .3s;
    background-color: #fff;
    opacity: 0
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: var(--header-height);
    right: -100%;
    top: 0;
    transition: right .3s;
    z-index: 2;
    background-color: #fff;
    border-bottom: .0625rem solid #bdbdbd
  }
  .menu-open .menu {
    right: 0;
    opacity: 1
  }
  .menu-open .menu::before {
    right: 0
  }
  .menu__item {
    text-align: center
  }
  .menu__item:not(:last-child) {
    margin-bottom: 2rem
  }
  .menu__link {
    font-size: 1.75rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #292830;
    will-change: transform
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
  }
  .menu-open .icon-menu span,
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #ff7235
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    grid-template-columns: auto minmax(10.125rem,1fr);
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .header__actions {
    display: flex;
    align-items: center;
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .promo__container {
    padding-block: .9375rem
  }
  .promo__content:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .promo__title:not(:last-child) {
    margin-bottom: .4166666667em
  }
  .promo__label {
    font-size: 1.25rem
  }
  .item-benefit__subtitle {
    font-size: 1.125rem
  }
  .item-plan__title {
    font-size: 1.75rem
  }
  .download__text:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .download__images {
    margin-top: -1.7543859649%
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:41.24875em) {
  .services__item {
    max-width: 21.875rem;
    margin-inline: auto
  }
  .services__item:not(:last-child) {
    margin-bottom: .9375rem
  }
  .block-header__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .plan__item {
    max-width: 21.875rem;
    margin-inline: auto
  }
  .plan__item:not(:last-child) {
    margin-bottom: 1.875rem
  }
}
@media (max-width:40.3125em) {
  .bottom-footer__container {
    grid-template-columns: auto;
    row-gap: 1.125rem
  }
  .bottom-footer__list {
    text-align: center;
    order: 2
  }
  .bottom-footer__list-item:not(:last-child) {
    margin-bottom: .4375rem
  }
  .bottom-footer__copyright {
    order: 3
  }
  .bottom-footer__social {
    justify-content: center;
    order: 1
  }
}
@media (max-width:37.5em) {
  .top-footer__body {
    row-gap: 1.5625rem
  }
  .promo__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .item-benefit__content:not(:last-child) {
    margin-bottom: 2.1875rem
  }
}
@media (max-width:29.99875em) {
  .title {
    font-size: 1.875rem
  }
  .title--less {
    font-size: 1.5625rem
  }
  .top-footer {
    padding-bottom: 1.875rem
  }
  .info-footer__text {
    font-size: 1rem
  }
  .promo__link {
    width: 100%
  }
  .promo__link:not(:last-child) {
    margin-bottom: .625rem
  }
  .product {
    padding-top: 2.8125rem
  }
  .item-wisher__text {
    font-size: 1rem
  }
}
@media (max-width:24.375em) {
  .button--small {
    font-size: .875rem;
    padding: .9375rem .625rem
  }
  .title--mb:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .header__logo {
    height: 2.1875rem
  }
  .services__block-header:not(:last-child) {
    margin-bottom: 1.5625rem
  }
}
@media (max-width:23.74875em) {
  .form__input {
    text-align: center
  }
  .form__button {
    width: 100%
  }
  .form__error {
    text-align: center
  }
}
@media (min-width:29.99875em)and (max-width:71.25em) {
  .title {
    font-size: clamp(1.875rem ,-1.1247840975rem + 9.9996969789vw ,6rem)
  }
  .title--less {
    font-size: clamp(1.5625rem ,-.5737098876rem + 7.1209963334vw ,4.5rem)
  }
}
@media (min-width:24.375em)and (max-width:71.25em) {
  .title--mb:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,.725rem + 6vw ,5rem)
  }
  .services__block-header:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,-.225rem + 7.3333333333vw ,5rem)
  }
}
@media (min-width:30em)and (max-width:71.25em) {
  .decors__item--01 {
    width: clamp(7.5rem ,-11.4545454545rem + 63.1818181818vw ,33.5625rem)
  }
  .decors__item--02 {
    width: clamp(7.5rem ,-17.0909090909rem + 81.9696969697vw ,41.3125rem)
  }
  .top-footer {
    padding-top: clamp(1.5rem ,-1.0454545455rem + 8.4848484848vw ,5rem)
  }
  .bottom-footer__container {
    padding-bottom: clamp(1.5rem ,-1.5rem + 10vw ,5.625rem)
  }
  .partners__container {
    padding-top: clamp(1.875rem ,-.4886363636rem + 7.8787878788vw ,5.125rem)
  }
  .partners__container {
    padding-bottom: clamp(1.25rem ,-.8409090909rem + 6.9696969697vw ,4.125rem)
  }
  .item-benefit__container {
    padding-block: clamp(1.5625rem ,-3.7556818182rem + 17.7272727273vw ,8.875rem)
  }
  .services {
    padding-block: clamp(1.875rem ,-3.0795454545rem + 16.5151515152vw ,8.6875rem)
  }
  .plan {
    padding-block: clamp(1.875rem ,-2.3977272727rem + 14.2424242424vw ,7.75rem)
  }
  .wishers {
    padding-block: clamp(1.875rem ,-2.3977272727rem + 14.2424242424vw ,7.75rem)
  }
  .download {
    padding-top: clamp(2.1875rem ,-1.8579545455rem + 13.4848484848vw ,7.75rem)
  }
  .download {
    padding-bottom: clamp(1.875rem ,-.9431818182rem + 9.3939393939vw ,5.75rem)
  }
}
@media (min-width:53.1875em)and (min-width:53.4375em)and (max-width:71.25em) {
  .top-footer__container {
    -webkit-column-gap: clamp(2.5rem ,-22.25rem + 46.3157894737vw ,10.75rem);
    -moz-column-gap: clamp(2.5rem ,-22.25rem + 46.3157894737vw ,10.75rem);
    column-gap: clamp(2.5rem ,-22.25rem + 46.3157894737vw ,10.75rem)
  }
}
@media (min-width:53.1875em)and (max-width:53.4375em) {
  .top-footer__container {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
}
@media (min-width:53.1875em)and (max-width:61.99875em) {
  .info-footer__title:not(:last-child,.info-footer__title--mb-0) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:61.87375em)and (min-width:41.25em) {
  .services__item:nth-child(3) {
    max-width: 29rem
  }
  .plan__item:nth-child(3) {
    max-width: 29rem
  }
}
@media (min-width:61.9375em)and (max-width:75em) {
  .item-service__link {
    padding: clamp(1.875rem ,-8.4973086124rem + 16.7464114833vw ,4.0625rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    color: #fff
  }
  .button:hover::before {
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
    opacity: 1
  }
  .button--bg-orange:hover {
    color: #ff7235
  }
  .link:not(.link--big):hover span {
    color: #fff
  }
  .link:not(.link--big):hover span::before {
    -webkit-transform: translate(.1875rem,0);
    transform: translate(.1875rem,0)
  }
  .link:hover::before {
    content: "";
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%)
  }
  .link--big:hover span {
    color: #ff7235
  }
  .link--big:hover span::after,
  .link--big:hover span::before {
    background-color: #ff7235
  }
  .link--big:hover span::before {
    top: calc(50% + .20625rem);
    -webkit-transform: translate(0,-50%) rotate(-45deg);
    transform: translate(0,-50%) rotate(-45deg)
  }
  .link--big:hover span::after {
    top: calc(50% - .25rem);
    right: .46875rem;
    -webkit-transform: translate(0,-50%) rotate(45deg);
    transform: translate(0,-50%) rotate(45deg)
  }
  .link--big.link--inverse:hover span {
    color: #fff
  }
  .link--big.link--inverse:hover span::after,
  .link--big.link--inverse:hover span::before {
    background-color: #fff
  }
  .social__link:hover {
    color: #ff7235
  }
  .menu__link:hover {
    color: #ff7235
  }
  .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: rgba(41,40,48,.6)
  }
  .info-footer__list-link:hover::before {
    width: 100%
  }
  .bottom-footer__list-link:hover::after {
    width: 100%
  }
  .item-benefit__link:hover {
    color: #ee682f
  }
  .item-benefit__link:hover::before {
    -webkit-transform: translate(.3125rem,0);
    transform: translate(.3125rem,0)
  }
  .item-service__link:hover {
    box-shadow: 0 0 3.125rem 0 rgba(0,0,0,.04)
  }
  .item-service__link:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  .item-plan:hover {
    border-color: transparent;
    box-shadow: 0 0 3.125rem 0 rgba(0,0,0,.04)
  }
}